#HomeBanner{
    
}

.homeCategory{
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* flex-direction: column; */
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
    padding: 2%;
    gap: 1%;
    background-color: #ffffff;
    margin-top: 2%;
    margin-bottom: 2%;
}

.homeCategory:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.homeCategory-innerDiv{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 5%;
    transition: transform .5s;
}
.homeCategory-innerDiv:hover{
    /* transition-delay: 1s; */
    cursor: pointer;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    background-color: white;
    /* border: 1px solid black; */
}

@media screen and (min-width: 580px) {
    .homeCategory{
        display: grid;
        grid-template-columns: repeat(4,  1fr);
    }
  }

@media screen and (min-width: 480px) {
    #homeCategory{
        display: grid;
        grid-template-columns: repeat(2,  1fr);
    }
  }