.navHeading{
    text-decoration: none;
    color: black;
    justify-content: space-evenly;
}
#logo{
    width: 15%;
    /* border: 3px solid green; */
}
#navbarDiv{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}
#navLeft{
    border: 4px solid blue;
}
#navRight{
    border: 4px solid green;
}